<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHersan_Ventas">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IHersan_Catalogos">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62534/Hersan_Ventas.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHersan_Ventas"
                contract="WCF_Ventas.IHersan_Ventas" name="WSHttpBinding_IHersan_Ventas">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:56779/Hersan_Catalogos.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHersan_Catalogos"
                contract="WCF_Catalogos.IHersan_Catalogos" name="WSHttpBinding_IHersan_Catalogos">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>