<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHersan_Nomina">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IHersan_CHumano">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60744/Hersan_Nomina.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHersan_Nomina"
                contract="WCF_Nomina.IHersan_Nomina" name="WSHttpBinding_IHersan_Nomina">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60349/Hersan_CHumano.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHersan_CHumano"
                contract="WCF_CHumano.IHersan_CHumano" name="WSHttpBinding_IHersan_CHumano">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>